In [9]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
print(l1[3:])
print(l1[-1:-4:-1])

[['Parul', 22, 'Bharat', 45.5, 'Vadodra', 99]]

In [17]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
l2=[]
print(l2)
l2.append(l1)
print(l2)
l2.append(l1[4])
print(l2)

[]
[['Parul', 22, 'Bharat', 45.5, 'Vadodra', 99]]
[['Parul', 22, 'Bharat', 45.5, 'Vadodra', 99], 'Vadodra']

In [19]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
l2=[]
# print(l2)
l2.extend(l1)
print(l2)

['Parul', 22, 'Bharat', 45.5, 'Vadodra', 99]

In [22]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
l1.insert(1,"Rishi")
print(l1)

['Parul', 'Rishi', 22, 'Bharat', 45.5, 'Vadodra', 99]

In [27]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
l1.pop(3)
l1.pop(-1)
print(l1)

['Parul', 22, 'Bharat', 'Vadodra']

In [30]:
l1=["Parul", 22, "Bharat", 45.5, "Vadodra", 99]
l1.remove(22)
l1.remove("Parul")
print(l1)

['Bharat', 45.5, 'Vadodra', 99]

In [32]:
l1=["Parul", "Zudio", "Bharat",  "Vadodra"]
l1.sort()
print(l1)
l1=[9,85,26,8,3,21]
l1.sort()
print(l1)

['Bharat', 'Parul', 'Vadodra', 'Zudio']
[3, 8, 9, 21, 26, 85]

In [34]:
txt=input('Enter number: ')
txt.split()

Enter number: fvdf fg ddfg dfgdf f

['fvdf', 'fg', 'ddfg', 'dfgdf', 'f']

In [38]:
l1=("Parul", 22, "Bharat", 45.5, "Vadodra", 99)
print(l1[3:])
print(l1[-1:-4:-1])

(45.5, 'Vadodra', 99)
(99, 'Vadodra', 45.5)

In [43]:
l1=(5,0,1,0,65,4,2,4,0,5,3,5,0,8,1)
x=l1.count(0)
print(x)

4

In [47]:
l1=(5,0,1,0,65,4,2,4,0,5,3,5,0,8,1)
x=l1.index(65)
print(x)

4

In [50]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
print(cars)
print(type(cars))

{'Brand': 'Tata', 'Model': 'Nano', 'Year': 2010}
<class 'dict'>

In [53]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
print(cars["Model"])

Nano

In [58]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
print(cars.keys())
print(cars.values())
print(cars.items())

dict_keys(['Brand', 'Model', 'Year'])
dict_values(['Tata', 'Nano', 2010])
dict_items([('Brand', 'Tata'), ('Model', 'Nano'), ('Year', 2010)])

In [60]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
print(cars.items())
cars.update({"Year":2008})
print(cars.items())

dict_items([('Brand', 'Tata'), ('Model', 'Nano'), ('Year', 2010)])
dict_items([('Brand', 'Tata'), ('Model', 'Nano'), ('Year', 2008)])

In [67]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
cars["Sales"]= "10cr"
print(cars.items())

dict_items([('Brand', 'Tata'), ('Model', 'Nano'), ('Year', 2010), ('Sales', '10cr')])

In [69]:
cars = {
    "Brand":"Tata",
    "Model":"Nano",
    "Year":2010
}
cars.pop("Year")
print(cars.items())

dict_items([('Brand', 'Tata'), ('Model', 'Nano')])

In [71]:
set1={'aa','bb','dd','cc','aa','bb'}
print(set1)

{'cc', 'aa', 'dd', 'bb'}

In [76]:
set1={'aa','bb','cc'}
set2={'zz','yy','xx','cc'}
set1|set2
set1.union(set2)

{'aa', 'bb', 'cc', 'xx', 'yy', 'zz'}

In [78]:
set1={'aa','bb','cc'}
set2={'zz','yy','xx','cc'}
set1.union(set2)

{'aa', 'bb', 'cc', 'xx', 'yy', 'zz'}

In [83]:
set1={'aa','bb','cc'}
set2={'zz','yy','xx'}
set1.intersection(set2)

set()

In [88]:
set1={'aa','bb','cc'}
set2={'zz','yy','xx','cc'}
x= set1-set2
y=set2-set1
z=set1+set2
w=set2+set1
print(x)
print(y)
print(z)
print(w)

TypeError: unsupported operand type(s) for +: 'set' and 'set'