# Panda for Data manipulation and anlysis

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sap\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\sap\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1108)'))) - skipping
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

ser=pd.Series()
print(ser)
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object

<ipython-input-4-536516c1bc1c>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

In [8]:
li=['T','a','p','a','n']
ser=pd.Series(li)
print(ser)

0    T
1    a
2    p
3    a
4    n
dtype: object

In [14]:
import pandas as pd
data=pd.read_csv("parks.csv")
print(data)

   Park Code                                       Park Name       State  \
0       ACAD                            Acadia National Park          ME
1       ARCH                            Arches National Park          UT
2       BADL                          Badlands National Park          SD
3       BIBE                          Big Bend National Park          TX
4       BISC                          Biscayne National Park          FL
5       BLCA      Black Canyon of the Gunnison National Park          CO
6       BRCA                      Bryce Canyon National Park          UT
7       CANY                       Canyonlands National Park          UT
8       CARE                      Capitol Reef National Park          UT
9       CAVE                  Carlsbad Caverns National Park          NM
10      CHIS                   Channel Islands National Park          CA
11      CONG                          Congaree National Park          SC
12      CRLA                       Crater Lake National Park          OR
13      CUVA                   Cuyahoga Valley National Park          OH
14      DENA               Denali National Park and Preserve          AK
15      DEVA                      Death Valley National Park      CA, NV
16      DRTO                      Dry Tortugas National Park          FL
17      EVER                        Everglades National Park          FL
18      GAAR  Gates Of The Arctic National Park and Preserve          AK
19      GLAC                           Glacier National Park          MT
20      GLBA          Glacier Bay National Park and Preserve          AK
21      GRBA                       Great Basin National Park          NV
22      GRCA                      Grand Canyon National Park          AZ
23      GRSA     Great Sand Dunes National Park and Preserve          CO
24      GRSM             Great Smoky Mountains National Park      TN, NC
25      GRTE                       Grand Teton National Park          WY
26      GUMO               Guadalupe Mountains National Park          TX
27      HALE                         Haleakala National Park          HI
28      HAVO                  Hawaii Volcanoes National Park          HI
29      HOSP                       Hot Springs National Park          AR
30      ISRO                       Isle Royale National Park          MI
31      JOTR                       Joshua Tree National Park          CA
32      KATM               Katmai National Park and Preserve          AK
33      KEFJ                      Kenai Fjords National Park          AK
34      KOVA                      Kobuk Valley National Park          AK
35      LACL           Lake Clark National Park and Preserve          AK
36      LAVO                   Lassen Volcanic National Park          CA
37      MACA                      Mammoth Cave National Park          KY
38      MEVE                        Mesa Verde National Park          CO
39      MORA                     Mount Rainier National Park          WA
40      NOCA                    North Cascades National Park          WA
41      OLYM                           Olympic National Park          WA
42      PEFO                  Petrified Forest National Park          AZ
43      PINN                         Pinnacles National Park          CA
44      REDW                           Redwood National Park          CA
45      ROMO                    Rocky Mountain National Park          CO
46      SAGU                           Saguaro National Park          AZ
47      SEKI         Sequoia and Kings Canyon National Parks          CA
48      SHEN                        Shenandoah National Park          VA
49      THRO                Theodore Roosevelt National Park          ND
50      VOYA                         Voyageurs National Park          MN
51      WICA                         Wind Cave National Park          SD
52      WRST  Wrangell - St Elias National Park and Preserve          AK
53      YELL                       Yellowstone National Park  WY, MT, ID
54      YOSE                          Yosemite National Park          CA
55      ZION                              Zion National Park          UT

      Acres  Latitude  Longitude
0     47390     44.35     -68.21
1     76519     38.68    -109.57
2    242756     43.75    -102.50
3    801163     29.25    -103.25
4    172924     25.65     -80.08
5     32950     38.57    -107.72
6     35835     37.57    -112.18
7    337598     38.20    -109.93
8    241904     38.20    -111.17
9     46766     32.17    -104.44
10   249561     34.01    -119.42
11    26546     33.78     -80.78
12   183224     42.94    -122.10
13    32950     41.24     -81.55
14  3372402     63.33    -150.50
15  4740912     36.24    -116.82
16    64701     24.63     -82.87
17  1508538     25.32     -80.93
18  7523898     67.78    -153.30
19  1013572     48.80    -114.00
20  3224840     58.50    -137.00
21    77180     38.98    -114.30
22  1217403     36.06    -112.14
23    42984     37.73    -105.51
24   521490     35.68     -83.53
25   309995     43.73    -110.80
26    86416     31.92    -104.87
27    29094     20.72    -156.17
28   323431     19.38    -155.20
29     5550     34.51     -93.05
30   571790     48.10     -88.55
31   789745     33.79    -115.90
32  3674530     58.50    -155.00
33   669983     59.92    -149.65
34  1750717     67.55    -159.28
35  2619733     60.97    -153.42
36   106372     40.49    -121.51
37    52830     37.18     -86.10
38    52122     37.18    -108.49
39   235625     46.85    -121.75
40   504781     48.70    -121.20
41   922651     47.97    -123.50
42    93533     35.07    -109.78
43    26606     36.48    -121.16
44   112512     41.30    -124.00
45   265828     40.40    -105.58
46    91440     32.25    -110.50
47   865952     36.43    -118.68
48   199045     38.53     -78.35
49    70447     46.97    -103.45
50   218200     48.50     -92.88
51    28295     43.57    -103.48
52  8323148     61.00    -142.00
53  2219791     44.60    -110.50
54   761266     37.83    -119.50
55   146598     37.30    -113.05

In [16]:
data=pd.read_csv("BSE-SENSEX.csv")
print(data)

            Date      Open      High       Low     Close
0     2022-04-18  57338.58  57420.80  56842.39  57166.74
1     2022-04-13  58910.74  59003.82  58291.23  58338.93
2     2022-04-12  58743.50  58794.78  58298.57  58576.37
3     2022-04-11  59333.18  59355.76  58894.40  58964.57
4     2022-04-08  59256.97  59654.44  58876.36  59447.18
...          ...       ...       ...       ...       ...
7586  1991-01-14   1012.80   1017.98   1004.91   1017.72
7587  1991-01-11   1000.51   1034.30    997.04   1034.30
7588  1991-01-09   1007.66   1013.80    998.09   1008.52
7589  1991-01-07    982.81   1010.77    978.69   1010.77
7590  1991-01-03    983.51    989.08    981.08    982.35

[7591 rows x 5 columns]

In [19]:
lst=['Geeks','for','Geeks','is','portal','for','geeks']
df=pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     for
2   Geeks
3      is
4  portal
5     for
6   geeks

In [20]:
data={'Name':['Tom','Nick','Krish','Jack'],'Age':[20,21,19,18]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18

In [22]:
info=pd.DataFrame({'p':[4,7,1,2,3],
                  'q':[6,8,4,3,5],
                  'r':[6,5,7,3,6],
                  's':[34,6,7,3,7]},index=["parker",'Wiliam','sdf','asdfg','ag'])
info

        p  q  r   s
parker  4  6  6  34
Wiliam  7  8  5   6
sdf     1  4  7   7
asdfg   2  3  3   3
ag      3  5  6   7

In [31]:
info.reindex(['a','b','c','d','e'])
info
#print(info)

        p  q  r   s
parker  4  6  6  34
Wiliam  7  8  5   6
sdf     1  4  7   7
asdfg   2  3  3   3
ag      3  5  6   7

In [34]:
unsorted_df=pd.DataFrame(np.random.randn(10,20),index=[1,4,2,5,7,5,7,7,45,7])
sorted_df=unsorted_df.sort_index()
print(sorted_df)

           0         1         2         3         4         5         6  \
1   0.433693 -0.610227  0.567101  0.405900 -0.919224 -0.924180 -0.983579
2  -0.279051 -1.908782 -1.682435 -0.160247  0.134436 -0.918117  0.137433
4   1.445417  2.210939 -1.286112  1.416233 -0.340616  0.531990 -1.861572
5  -0.925165 -0.548264  0.374575  1.009839 -1.073146  0.630123 -0.907328
5  -0.062994 -0.607915  0.475308  0.304855 -0.989867  0.094418 -1.012143
7   0.902266  0.701120 -0.091939  1.741282  0.378089 -0.645036  1.052198
7  -0.281087 -0.482523 -0.352305 -1.393890  0.724959 -0.698203  0.539631
7  -0.269171  1.101119 -0.234089 -0.514140 -0.813436 -1.662587 -0.639136
7   0.610340  1.610642 -0.351518 -0.987071 -1.090618  0.337210 -0.025613
45  0.216831 -0.616088  0.457575  2.864450  0.137567 -1.345206  0.195336

           7         8         9        10        11        12        13  \
1  -0.857129 -0.936570  2.684202  0.486857  0.338419  0.638719 -0.196904
2  -0.906620  0.788498  1.079324 -0.058427  0.550332  0.204726 -0.438641
4   0.110046  1.394933  1.171610  0.537125 -0.245697 -0.460762 -0.506762
5  -0.295211 -0.674428 -1.414991 -0.134325 -0.793980  0.988309 -0.727656
5  -0.088371  0.464014  0.250498  1.775546  0.107291  0.267385 -1.519672
7   0.936377  0.535936  0.273925  0.287868 -0.793095  0.015830  0.138853
7   0.613478  0.061492  0.977156  1.054478 -0.242161  0.748957  0.450924
7  -0.650680  1.319017 -0.285896  0.034648 -0.064543 -0.169664 -0.485012
7  -1.799007  1.481713 -0.805597 -1.001545  0.728234 -0.169869 -1.805242
45  0.620733 -0.134912 -0.283935 -0.211405  0.851511 -0.770984 -0.477420

          14        15        16        17        18        19
1   0.371734 -0.634516  1.117931 -0.626807 -1.157253  0.167985
2   0.554094 -0.409972 -0.059311 -1.072034 -1.007840 -1.366590
4   1.075663 -0.747881  0.619514 -0.830457 -0.866243  0.346945
5  -1.263908 -1.026645  0.058587 -0.515242  2.500396 -2.226336
5  -2.451435 -0.712974  0.408516  2.003814 -1.329604  0.219291
7   0.104528  0.009018  0.735423 -0.497868 -0.920966 -1.126568
7   1.356631  0.040468 -0.594764  0.851715  0.653765 -1.629759
7   1.552328  0.197538 -0.844150 -0.710253 -1.520362  0.709136
7  -1.267574  0.531081 -0.657374  0.327574  0.294064 -0.492356
45  0.063791  1.877337 -0.668794  1.106145 -1.742399  0.509987

In [36]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,2,5,7,5,7,7,45,7])
sorted_df=unsorted_df.sort_index(ascending=False)
print(sorted_df)

           0         1
45  1.082561 -1.031458
7  -1.053998 -0.717046
7  -0.360804 -0.977063
7  -0.593558  0.851191
7   1.087721 -0.808838
5  -1.289835 -0.308967
5  -1.383252  0.878234
4   1.251789  0.242233
2  -0.283420  0.563858
1   0.113024  0.132421

In [37]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,2,5,7,5,7,7,45,7])
sorted_df=unsorted_df.sort_index(axis=1)
print(sorted_df)

           0         1
1  -0.235193  1.036743
4   0.330657  0.930734
2  -0.857269 -0.235787
5  -0.104349  0.869607
7   0.514333  1.075485
5  -1.331518 -0.235853
7   0.204731 -0.638290
7   0.536977  0.953536
45  1.221214 -1.244837
7  -1.831597  2.267359

In [38]:
s=pd.Series(['Tom','adfg','adfs','adsfg','sdf',np.nan,'435'])
print(s.str.lower())

0      tom
1     adfg
2     adfs
3    adsfg
4      sdf
5      NaN
6      435
dtype: object

In [6]:
import pandas as pd
data={ 'Math':[90,85,86,None,45,57],
     'Science':[43,56,45,None,None,35],
     'English':[34,None,54,32,65,None]}
df=pd.DataFrame(data)
print(df)

print("\n",df.count())
print("\n",df.max())
print("\n",df.min())

   Math  Science  English
0  90.0     43.0     34.0
1  85.0     56.0      NaN
2  86.0     45.0     54.0
3   NaN      NaN     32.0
4  45.0      NaN     65.0
5  57.0     35.0      NaN

 Math       5
Science    4
English    4
dtype: int64

 Math       90.0
Science    56.0
English    65.0
dtype: float64

 Math       45.0
Science    35.0
English    32.0
dtype: float64

In [11]:
import pandas as pd

data=pd.read_csv("nba.csv",index_col=["Name"])

first=data["Age"]
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64